<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>gcp-iam-catalog</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <a href="index.html">gcp-iam-catalog</a>
        <a href="roles.html">Roles</a>
        <a href="permissions.html">Permissions</a>
    </div>

    <h1>gcp-iam-catalog</h1>
    <p>This catalog provides a comprehensive overview of Google Cloud Platform (GCP) IAM roles and permissions. Use the navigation links above to explore Roles and Permissions in detail.</p>
</body>
</html>