<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>gcp-iam-catalog</title>
    <link rel="stylesheet" href="./style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="gcp-iam-catalog is a third-party tool that simplifies exploring GCP IAM roles and permissions.">
</head>
<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <a href="index.html" class="active">gcp-iam-catalog</a>
        <a href="roles.html">Roles</a>
        <a href="permissions.html">Permissions</a>
    </div>

    <main>
        <section class="home">
            <h1>Welcome to gcp-iam-catalog</h1>
            <p>
                <strong>gcp-iam-catalog</strong> is an independent tool designed to simplify the exploration of <a href="https://cloud.google.com/">Google Cloud Platform</a> (GCP) <a href="https://cloud.google.com/security/products/iam">Identity and Access Management</a> (IAM) predefined roles and permissions. <span class="muted-text">This tool is not affiliated with or endorsed by Google.</span>
            </p>
            
            <div class="features">
                <h2>Why gcp-iam-catalog?</h2>
                <p>
                    Comparing different predefined IAM roles in GCP can be complex due to the vast number of roles and permissions. <b>gcp-iam-catalog</b> simplifies this process by offering an intuitive interface to explore and compare IAM roles and their associated permissions.
                </p>
                <ul>
                    <li>
                        <strong>Role-to-Permission Mapping:</strong> Easily view the permissions included in each IAM role across all GCP services which is available in the Google documentation under <i><a href="https://cloud.google.com/iam/docs/understanding-roles">Understanding Roles</a></i>.
                    </li>
                    <li>
                        <strong>Permission-to-Role Mapping:</strong> Identify all roles that grant a specific permission which is available in the Google documentation under <i><a href="https://cloud.google.com/iam/docs/permissions-reference">Permissions Reference</a></i>.
                    </li>
                </ul>
            </div>
            
            <div class="getting-started">
                <h2>Get Started</h2>
                <p>
                    Explore the <b>{{.RoleCount}}</b> GCP <a href="roles.html">Roles</a> to see their permissions or browse the <b>{{.PermissionCount}}</b> GCP <a href="permissions.html">Permissions</a> to find roles that include specific permissions.
                </p>
            </div>
        </section>
    </main>

    {{template "footer"}}
</body>
</html>