<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Permission: {{.Permission}}</title>
    <link rel="stylesheet" href="../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <a href="../index.html">gcp-iam-catalog</a>
        <a href="../roles.html">Roles</a>
        <a href="../permissions.html" class="active">Permissions</a>
    </div>

    <main>
        <section class="permission-detail">
            <h1 class="permission-name">{{.Permission}}</h1>
            <h2>Roles with this Permission:</h2>
            <ul class="item-list">
                {{range .Roles}}
                    <li><a href="../{{.}}.html" class="role-name">{{.}}</a></li>
                {{end}}
            </ul>
        </section>
    </main>

    <footer>
        <p><a href="https://github.com/UnitVectorY-Labs/gcp-iam-catalog"><b>gcp-iam-catalog</b> on GitHub</a></p>
    </footer>
</body>
</html>