<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Role: {{.Name}}</title>
    <link rel="stylesheet" href="../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Navigation Bar -->
    <div class="navbar">
        <a href="../index.html">gcp-iam-catalog</a>
        <a href="../roles.html" class="active">Roles</a>
        <a href="../permissions.html">Permissions</a>
    </div>

    <main>
        <section class="role-detail">
            <h1 class="role-name">{{.Name}}</h1>
            <p><strong>Title:</strong> {{.Title}}</p>
            <p><strong>Description:</strong> {{.Description}}</p>
            <p><strong>Stage:</strong> {{.Stage}}</p>
            
            <h2>Included Permissions:</h2>
            <ul class="item-list">
                {{range .IncludedPermissions}}
                    <li><a href="../permissions/{{.}}.html" class="permission-name">{{.}}</a></li>
                {{end}}
            </ul>
        </section>
    </main>

    <footer>
        <p><a href="https://github.com/UnitVectorY-Labs/gcp-iam-catalog"><b>gcp-iam-catalog</b> on GitHub</a></p>
    </footer>
</body>
</html>